# Ignore everything inside scripts/premium
scripts/premium/*

# But keep markdown documentation
!scripts/premium/*.md

scripts/AutoPTHT/*.lua
scripts/NPC-SLAVE/*.lua

twst*
templates*

workspace*
scripts/example-kits.lua

scripts/contributors