# Ignore everything inside scripts/premium
scripts/premium/*

# But keep markdown documentation
!scripts/premium/*.md

scripts/AutoPTHT/*.lua
scripts/NPC-SLAVE/*.lua

twst*
templates*

scripts/example-kits.lua
gtps_scripts*

scripts/contributors